<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
   </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-img src="assets/icon/logo2.jpeg" style="margin-top: 50px;"></ion-img>
  </ion-card-content>
  
  <ion-card-content style="text-align: justify;">
    Our application are helps the students and other people who are looking for accommodation in smart way, Also it is easy to connect the users in a way that can advertise their place and also can book their PG.
  </ion-card-content>
</ion-content>
