<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>updatepgdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item style="margin-top: 20px;">
      <ion-label position="floating">PG Name</ion-label>
      <ion-input type="text" formControlName="pgName" *ngIf="(submitted && form.controls.pgName.errors) || (!form.controls.pgName.pristine && form.controls.pgName.invalid)"></ion-input>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgName.errors) || (!form.controls.pgName.pristine && form.controls.pgName.invalid)">
      <div *ngIf="form.controls.pgName.errors.required">PG Name is required</div>
    </ion-text>

    <ion-item style="margin-top: 20px;">
      <ion-label position="floating">PG Price</ion-label>
      <ion-input type="number" formControlName="pgPrice" *ngIf="(submitted && form.controls.pgPrice.errors) || (!form.controls.pgPrice.pristine && form.controls.pgPrice.invalid)"></ion-input>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgPrice.errors) || (!form.controls.pgPrice.pristine && form.controls.pgPrice.invalid)">
      <div *ngIf="form.controls.pgPrice.errors.required">PG Price is required</div>
    </ion-text>

    <ion-item style="margin-top: 20px;">
      <ion-label position="floating">PG Deposite</ion-label>
      <ion-input type="number" formControlName="pgDeposite" *ngIf="(submitted && form.controls.pgDeposite.errors) || (!form.controls.pgDeposite.pristine && form.controls.pgDeposite.invalid)"></ion-input>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgDeposite.errors) || (!form.controls.pgDeposite.pristine && form.controls.pgDeposite.invalid)">
      <div *ngIf="form.controls.pgDeposite.errors.required">PG Deposite is required</div>
    </ion-text>

    <ion-item style="margin-top: 20px;">
      <ion-label position="floating">PG Address</ion-label>
      <ion-input type="text" formControlName="pgAddress" *ngIf="(submitted && form.controls.pgAddress.errors) || (!form.controls.pgAddress.pristine && form.controls.pgAddress.invalid)"></ion-input>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgAddress.errors) || (!form.controls.pgAddress.pristine && form.controls.pgAddress.invalid)">
      <div *ngIf="form.controls.pgAddress.errors.required">PG Address is required</div>
    </ion-text>

    <ion-item style="margin-top: 20px;">
      <ion-label position="floating">Area</ion-label>
      <ion-input type="text" formControlName="pgArea" *ngIf="(submitted && form.controls.pgArea.errors) || (!form.controls.pgArea.pristine && form.controls.pgArea.invalid)"></ion-input>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgArea.errors) || (!form.controls.pgArea.pristine && form.controls.pgArea.invalid)">
      <div *ngIf="form.controls.pgArea.errors.required">PG Location is required</div>
    </ion-text>

    <ion-item style="margin-top: 25px;">
      <ion-label>Amenities</ion-label>
      <ion-select formControlName="pgAmenities" *ngIf="(submitted && form.controls.pgAmenities.errors) || (!form.controls.pgAmenities.pristine && form.controls.pgAmenities.invalid)">
        <ion-select-option value="cooking">Cooking</ion-select-option>
        <ion-select-option value="laundry">Laundry</ion-select-option>
        <ion-select-option value="ac">Ac</ion-select-option>
        <ion-select-option value="geyser">Geyser</ion-select-option>
        <ion-select-option value="tv">Tv</ion-select-option>
        <ion-select-option value="wifi">Wifi</ion-select-option>
        <ion-select-option value="lift">Lift</ion-select-option>
        <ion-select-option value="cctv">CCTV</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgAmenities.errors) || (!form.controls.pgAmenities.pristine && form.controls.pgAmenities.invalid)">
      <div *ngIf="form.controls.pgAmenities.errors.required">Please Select Amenities</div>
    </ion-text>

    <ion-item style="margin-top: 20px;">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea type="text" formControlName="pgDescription" *ngIf="(submitted && form.controls.pgDescription.errors) || (!form.controls.pgDescription.pristine && form.controls.pgDescription.invalid)"></ion-textarea>
    </ion-item>

    <ion-text class="invalid-feedback" color="danger" *ngIf="(submitted && form.controls.pgDescription.errors) || (!form.controls.pgDescription.pristine && form.controls.pgDescription.invalid)">
      <div *ngIf="form.controls.pgDescription.errors.required">PG Description is required</div>
    </ion-text>

    <ion-item style="margin-top: 20px;">
      <ion-label position="floating" style="margin-top: 20px;">PG Images</ion-label>
      <ion-img src="{{imageElement}}"  style="margin-top: 20px;"></ion-img>
    </ion-item>

    <ion-button style="margin-top: 20px;" (click)="takePicture()">Take Photo</ion-button>
  
    <ion-button size="medium" shape="round" style="margin-top: 20px;" expand="full" (click)="updateDetails()">Add</ion-button>
  </form>

</ion-content>
