<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
   </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item style="margin-top: 50px;">
    <ion-chip>
      <ion-icon name="mail" color="primary"></ion-icon>
      <ion-label>thesmartpg@gmail.com</ion-label>
    </ion-chip>
  </ion-item> -->
  <ion-card-content>
    <ion-img src="assets/icon/logo2.jpeg" style="margin-top: 50px;"></ion-img>
  </ion-card-content>

  <ion-chip style="margin-top: 80px;  margin-left: 30px;">
    <ion-icon name="mail" color="primary"></ion-icon>
    <ion-label style="font-size: 30px;">thesmartpg@gmail.com</ion-label>
  </ion-chip>
</ion-content>
